body{
}
.head{
	width: 400px;
	height: 300px;
	position: absolute;
	text-align: center;
	left: 40%;
	top: 30%;
	border: 2px #fff  solid;
	border-radius:8px;
	background-color:rgba(255,255,255,0.5);
}
.header{
	margin-top:2%;
}

.name{
	width:70%;
	height:35px;
	border: 2px #c2c2bf  solid;
	border-radius:5px;
	margin-left:15%;
}
.picture{
	margin-top:2px;
}

.password{
	width:280px;
	height:35px;
	border: 2px #c2c2bf  solid;
	border-radius:5px;
	margin-left:15%;
	margin-top:5%;
}
.login{
	margin-top:6%;
}
.text{
	float:right;
	width:210px;
	margin-right:0px;
	margin-top:0px;
	height:33px;
	border:none;
	background-color:rgba(255,255,255,0.5);
}
