<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FormulaSystem</display-name>
  <welcome-file-list>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>
  <!-- 解决乱码的过滤器 -->
  <filter>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.zakj.formula.web.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 用户登录权限过滤器 -->
  <filter>
    <display-name>UserLoginPrivilegeFilter</display-name>
    <filter-name>UserLoginPrivilegeFilter</filter-name>
    <filter-class>com.zakj.formula.web.filter.UserLoginPrivilegeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginPrivilegeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- <filter>
    <display-name>JurisdictionFilter</display-name>
    <filter-name>JurisdictionFilter</filter-name>
    <filter-class>com.zakj.formula.web.filter.JurisdictionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JurisdictionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> -->
  
  
  <servlet>
    <description></description>
    <display-name>ShowSupplierServlet</display-name>
    <servlet-name>ShowSupplierServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.supplier.ShowSupplierListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSupplierServlet</servlet-name>
    <url-pattern>/api/Supplier/ShowSupplierListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AddSupplierServlet</display-name>
    <servlet-name>AddSupplierServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.supplier.AddSupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSupplierServlet</servlet-name>
    <url-pattern>/api/supplier/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSupplierListServlet</display-name>
    <servlet-name>ShowSupplierListServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.supplier.ShowSupplierListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSupplierListServlet</servlet-name>
    <url-pattern>/api/supplier/showlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSupplierServlet</display-name>
    <servlet-name>UpdateSupplierServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.supplier.UpdateSupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSupplierServlet</servlet-name>
    <url-pattern>/api/supplier/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelSupplierServlet</display-name>
    <servlet-name>DelSupplierServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.supplier.DelSupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelSupplierServlet</servlet-name>
    <url-pattern>/api/supplier/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/api/user/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMaterialServlet</display-name>
    <servlet-name>AddMaterialServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.material.AddMaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMaterialServlet</servlet-name>
    <url-pattern>/api/material/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMaterialServlet</display-name>
    <servlet-name>UpdateMaterialServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.material.UpdateMaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMaterialServlet</servlet-name>
    <url-pattern>/api/material/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMaterialListServlet</display-name>
    <servlet-name>ShowMaterialListServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.material.ShowMaterialListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMaterialListServlet</servlet-name>
    <url-pattern>/api/material/showlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProductListServlet</display-name>
    <servlet-name>ShowProductListServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.product.ShowProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductListServlet</servlet-name>
    <url-pattern>/api/product/showlist</url-pattern>
  </servlet-mapping>
<!--   <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.product.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/api/product/add</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.product.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/api/product/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSupplierNameListServlet</display-name>
    <servlet-name>ShowSupplierNameListServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.material.ShowSupplierNameListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSupplierNameListServlet</servlet-name>
    <url-pattern>/api/material/supplier-name</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMaterialNameListServlet</display-name>
    <servlet-name>ShowMaterialNameListServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.formula.ShowMaterialNameListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMaterialNameListServlet</servlet-name>
    <url-pattern>/api/formula/material-name</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFormulaNameListServlet</display-name>
    <servlet-name>ShowFormulaNameListServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.product.ShowFormulaNameListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFormulaNameListServlet</servlet-name>
    <url-pattern>/api/product/formula-name</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleServlet</display-name>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.role.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/api/role</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrivilegeServlet</display-name>
    <servlet-name>PrivilegeServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.privilege.PrivilegeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrivilegeServlet</servlet-name>
    <url-pattern>/api/privilege</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManagerServlet</display-name>
    <servlet-name>UserManagerServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.user.UserManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagerServlet</servlet-name>
    <url-pattern>/api/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagerServlet</servlet-name>
    <url-pattern>/api/user/privilege</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupplierServlet</display-name>
    <servlet-name>SupplierServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.supplier.SupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierServlet</servlet-name>
    <url-pattern>/api/supplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.product.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/api/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormulaServlet</display-name>
    <servlet-name>FormulaServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.formula.FormulaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormulaServlet</servlet-name>
    <url-pattern>/api/formula</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaterialServlet</display-name>
    <servlet-name>MaterialServlet</servlet-name>
    <servlet-class>com.zakj.formula.web.material.MaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaterialServlet</servlet-name>
    <url-pattern>/api/material</url-pattern>
  </servlet-mapping>
</web-app>